BOT_TOKEN=8885768264:AAF_MJUlc61syCVgUxrnh1dg_u1CBKatCeo
DEVELOPER_ID=29449730
BOT_USERNAME=onnncbot
ADMIN_PASSWORD=abdulrahman2006
FLASK_SECRET=change_this_to_random_string
DATABASE_URL=sqlite:///abdulrahman_protect.db
